@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&display=swap");
body {
  margin: 0;
  font-family: "Rubik", sans-serif;
}

h2 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #00adb5;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.buttons a {
  margin: 10px;
  background-color: blue;
  border: 0;
  color: white;
  height: 40px;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.choose-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  height: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
  position: fixed;
  width: 100%;
}

.choose-color p {
  color: #00adb5;
}

.choose-color .colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100%;
}

.choose-color .colors span {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 100%;
  margin: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border: 4px solid #f0f0f0;
  -webkit-box-shadow: 0px 0px 10px -2px #9a9b94;
          box-shadow: 0px 0px 10px -2px #9a9b94;
  cursor: pointer;
}

.choose-color .colors span.white {
  background-color: white;
}

.choose-color .colors span.black {
  background-color: black;
}

.choose-color .colors span.clicked {
  border: 4px solid #00adb5;
}

.choose-color .colors span:hover {
  width: 30px;
  height: 30px;
  border: 0px solid #f0f0f0;
  -webkit-box-shadow: 0px 0px 5px 0px #d4d6c8;
          box-shadow: 0px 0px 5px 0px #d4d6c8;
}

.choose-color .copyUrl {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.copied {
  border: 1px solid red;
  top: 30px;
  right: 30px;
  opacity: 0;
  margin: 0;
  position: fixed;
  z-index: 2;
}

.copied.pop {
  opacity: 1;
}

.icons {
  margin: 0 auto;
  top: 80px;
  padding: 60px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (8%)[10];
      grid-template-columns: repeat(10, 8%);
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  grid-row-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: all 2s 0.6s ease;
  transition: all 2s 0.6s ease;
  width: 100%;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  position: absolute;
  z-index: -1;
}

.icons i {
  width: 0px;
  height: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  margin: 0 auto;
  -webkit-transition: all 0.6s 0.2s ease;
  transition: all 0.6s 0.2s ease;
  cursor: pointer;
}

.icons i img {
  width: 0px;
  height: 0px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.icons.white {
  background-color: #52524e;
}

.icons.white i {
  border: 1px solid #434343;
}

.icons.white i:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.icons.black {
  background-color: #e2e2e2;
}

.icons.black i {
  border: 1px solid #d4d6c8;
}

.icons.black i:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.icons.active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.icons.active i {
  width: 52px;
  height: 52px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.icons.active i img {
  width: inherit;
  height: inherit;
}
/*# sourceMappingURL=main.css.map */