@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&display=swap");
body {
  margin: 0;
  font-family: "Rubik", sans-serif;
}

h2 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #00adb5;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.buttons a {
  margin: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#605dd0), to(#37b1d6));
  background: linear-gradient(90deg, #605dd0, #37b1d6);
  border: 0;
  color: white;
  height: 40px;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-radius: 50px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  position: relative;
  overflow: hidden;
}

.buttons a:before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #605dd0;
  border-radius: 50px;
  right: 0px;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.buttons a span {
  z-index: 1;
}

.buttons a:hover:before {
  opacity: 1;
  width: 100%;
  left: 0px;
}

.container {
  width: 100%;
  position: absolute;
}

.container:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(#605dd0), to(#37b1d6));
  background: linear-gradient(90deg, #605dd0, #37b1d6);
  -webkit-animation: loading 1.5s 1s ease forwards;
          animation: loading 1.5s 1s ease forwards;
  z-index: 2;
}

@-webkit-keyframes loading {
  0% {
    height: 100vh;
  }
  90% {
    height: 0;
  }
  100% {
    height: 0;
    display: none;
  }
}

@keyframes loading {
  0% {
    height: 100vh;
  }
  90% {
    height: 0;
  }
  100% {
    height: 0;
    display: none;
  }
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dcddea;
  height: 80px;
  z-index: 2;
  position: fixed;
  width: 100%;
  padding: 0 30px;
}

.controls p {
  color: #00adb5;
}

.controls .colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100%;
}

.controls .colors .btn {
  position: relative;
  width: 50px;
  height: 50px;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controls .colors .btn span {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 4px solid transparent;
  -webkit-box-shadow: 0px 0px 10px -2px #9a9b94;
          box-shadow: 0px 0px 10px -2px #9a9b94;
  cursor: pointer;
  position: absolute;
}

.controls .colors .btn.white span {
  background-color: white;
}

.controls .colors .btn.black span {
  background-color: black;
}

.controls .colors .btn.gray1 span {
  background-color: #434343;
}

.controls .colors .btn.gray2 span {
  background-color: #9a9b94;
}

.controls .colors .btn.clicked span {
  border: 4px solid #605dd0;
}

.controls .colors .btn:hover span {
  width: 25px;
  height: 25px;
}

.controls .colors .btn:hover.clicked span {
  border: 4px solid #605dd0;
  width: 20px;
  height: 20px;
}

.controls .back {
  left: 30px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(#605dd0), to(#37b1d6));
  background: linear-gradient(90deg, #605dd0, #37b1d6);
  border-radius: 100%;
}

.controls .back span {
  width: 20px;
  height: 20px;
  background-image: url(/icons/white/icon-5.svg);
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.controls .back:hover span {
  -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
}

.controls .copyUrl {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.controls .copied {
  top: 30px;
  right: 30px;
  opacity: 0;
  margin: 0;
  position: fixed;
  z-index: 3;
  padding: 10px 20px;
  border-radius: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#605dd0), to(#37b1d6));
  background: linear-gradient(90deg, #605dd0, #37b1d6);
  color: white;
}

.controls .copied.pop {
  opacity: 1;
  -webkit-animation: pop 1s ease forwards;
          animation: pop 1s ease forwards;
}

@-webkit-keyframes pop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes pop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.content-icons .icons {
  margin: 0 auto;
  top: 80px;
  padding: 60px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (8%)[10];
      grid-template-columns: repeat(10, 8%);
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  grid-row-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  position: absolute;
  display: none;
  z-index: -1;
}

.content-icons .icons i {
  width: 0px;
  height: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  margin: 0 auto;
  -webkit-transition: all 0.6s 0.2s ease;
  transition: all 0.6s 0.2s ease;
  cursor: pointer;
}

.content-icons .icons i img {
  width: 0px;
  height: 0px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.content-icons .icons i.icon-active {
  -webkit-box-shadow: 0px 0px 0px 4px #605dd0;
          box-shadow: 0px 0px 0px 4px #605dd0;
}

.content-icons .icons.light {
  background-color: #52524e;
}

.content-icons .icons.light i {
  border: 1px solid #434343;
}

.content-icons .icons.light i:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.content-icons .icons.dark {
  background-color: white;
}

.content-icons .icons.dark i {
  border: 1px solid #d4d6c8;
}

.content-icons .icons.dark i:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.content-icons .icons.active {
  display: -ms-grid;
  display: grid;
}

.content-icons .icons.active i {
  width: 52px;
  height: 52px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.content-icons .icons.active i img {
  width: inherit;
  height: inherit;
}

.content-images .images {
  margin: 0 auto;
  top: 80px;
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 1440px;
  margin: 0 auto;
  z-index: -1;
}

.content-images .images .image {
  top: 80px;
  width: auto;
  height: 140px;
  overflow: hidden;
  margin: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: relative;
  cursor: pointer;
  border-radius: 2px;
}

.content-images .images .image img {
  height: 140px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.content-images .images .image.img-active {
  -webkit-box-shadow: 0px 0px 0px 5px #605dd0;
          box-shadow: 0px 0px 0px 5px #605dd0;
}

.content-images .images .image:hover img {
  margin: 0;
  width: auto;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
/*# sourceMappingURL=main.css.map */