$m-01:#00adb5;
$m-02:#ff5d5d;
$m-03:#fbe4c9;

$neu-00: #f0f0f0;
$neu-01: #e2e2e2;
$neu-02: #d4d6c8;
$neu-03: #9a9b94;
$neu-04: #52524e;
$neu-05: #434343;

@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&display=swap');

$font-01: 'Rubik',
sans-serif;
;


body {
    margin: 0;
    font-family: $font-01;
}

h2 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: $m-01;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    a {
        margin: 10px;
        background-color: blue;
        border: 0;
        color: white;
        height: 40px;
        padding: 0 30px;
        display: flex;
        align-items: center;
        text-decoration: none;


    }
}

.choose-color {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 80px;
    flex-direction: column;
    z-index: 2;
    position: fixed;
    width: 100%;

    p {
        color: $m-01;
    }

    .colors {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 100%;

        .btn {
            position: relative;
            width: 50px;
            height: 50px;
            border: 0;
            //background-color: red;

            span {
                width: 20px;
                height: 20px;
                display: flex;
                flex-wrap: wrap;
                border-radius: 100%;
                margin: 10px;
                transition: all 0.4s ease;
                border: 4px solid $neu-00;
                box-shadow: 0px 0px 10px -2px $neu-03;
                cursor: pointer;
                position: absolute;

            }

            &.white {

                span {
                    background-color: white;
                }
            }

            &.black {
                span {
                    background-color: black;
                }
            }

            &.clicked {
                span {
                    border: 4px solid $m-01;
                }
            }

            &:hover {
                span {
                    width: 30px;
                    height: 30px;
                    border: 0px solid $neu-00;
                    box-shadow: 0px 0px 5px 0px $neu-02;
                }
            }
        }
    }

    .copyUrl {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }

    .copied {
        top: 30px;
        right: 30px;
        opacity: 0;
        margin: 0;
        position: fixed;
        z-index: 2;
        padding: 10px 20px;
        border-radius: 50px;
        background-color: $m-01;
        color: white;

        &.pop {
            opacity: 1;
            animation: pop 1.5s ease forwards;

            @keyframes pop {
                0% {
                    opacity: 0;
                    transform: translateY(10px);
                }

                50% {
                    opacity: 1;
                    transform: translateY(-10px);
                }

                70% {
                    opacity: 1;
                    transform: translateY(-10px);
                }

                100% {
                    opacity: 0;
                    transform: translateY(-10px);
                }
            }
        }
    }
}



.icons {
    margin: 0 auto;
    top: 80px;
    padding: 60px 0;
    display: grid;
    grid-template-columns: repeat(10, 8%);
    grid-auto-rows: max-content;
    grid-row-gap: 20px;
    justify-content: center;
    align-content: center;
    //transition: all 2s 0.6s ease;
    width: 100%;
    position: absolute;
    z-index: -1;
    display: none;


    i {
        width: 0px;
        height: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        margin: 0 auto;
        transition: all 0.6s 0.2s ease;
        cursor: pointer;


        img {
            width: 0px;
            height: 0px;
            transition: all 0.4s ease;
        }
    }

    &.white {
        background-color: $neu-04;


        i {
            border: 1px solid $neu-05;

            &:hover {
                background-color: rgba(0, 0, 0, 0.2);
            }
        }


    }

    &.black {
        background-color: $neu-01;

        i {
            border: 1px solid $neu-02;

            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }


    }

    &.active {
        display: grid;

        i {
            width: 52px;
            height: 52px;
            transition: all 0.4s ease;

            img {
                width: inherit;
                height: inherit;
            }

        }


    }

}