html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-example__tilt {

  display: block;
  //background-color: #9e21ff;
  //background-image: linear-gradient(135deg, #ed21ff 0%, #9e21ff 100%, #9e21ff 100%);
  //box-shadow: 0 3px 47px rgba(0, 0, 0, 0.2);
  transform-style: preserve-3d;
  transform: perspective(100px);
}


img {
  //width: 300px;
}